@model IEnumerable<AnimalNotebook.Models.Animal>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row">
        <h1 id="title">Animal Notebook</h1>
    </section>

    <div class="row">
        @foreach(var animalType in Enum.GetNames(typeof(AnimalNotebook.Models.AnimalType)))
        {
            <section class="col-md-3">
                <h2>@(animalType)s</h2>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var animal in Model.Where(a => a.Type.ToString() == animalType))
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Animals", new { id = animal.Id })">@Html.DisplayFor(modelItem => animal.Name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => animal.Age)
                            </td>
                            <td style="text-align:right;">
                                <a href="@Url.Action("Edit", "Animals", new { id = animal.Id })"><i class="fa fa-pencil" style='font-size:24px'></i></a> |
                                <a href="@Url.Action("Delete", "Animals", new { id = animal.Id })"><i class="fa fa-trash" style='font-size:24px'></i></a>
                            </td>
                        </tr>
                    }

                </table>
            </section>
        }
    </div>

    <div class="row">
        <section>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Create", "Animals")">Add an Animal</a></p>
        </section>
    </div>

    <div class="row">
        <section class="col-md-6">
            <h2>Upcoming Medicine Reminders</h2>
            <ol>

            </ol>
        </section>
        <section class="col-md-6">
            <h2>Upcoming Vet Reminders</h2>
            <ol>

            </ol>
        </section>
    </div>
</main>
