@model AnimalNotebook.Models.Medicine

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurrenceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurrenceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecurrenceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecurrenceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDateGiven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDateGiven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalId)
        </dt>

        <dd>
            @ViewBag.Name
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    }
</div>
